<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="py-5">
        <%= yield %>
        <h1>Bootstrap 4 Theme</h1>
        <p>
          This is minimal Bootstrap 4 Starter template.
        </p>

        <a href="#!" class="btn btn-primary">Default Button</a>

        <a href="#!" class="btn btn-outline-primary">Outline Button</a>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>
